*,
body {
  margin: 0;
  padding: 0;
  transition: background-color .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

body {
  background-color: #eee;
}

.header {
  background-color: rgba(0,0,0);
  margin: 0;
}

.title {
  font-family: 'Lobster', cursive;
}

.cover {
  height: 100%;
  width: 100%;
  color: black;
  opacity: 1;
}

.sidenav {
  padding-top: 2rem;
  text-transform: uppercase;
}

.text {
  font-family: 'Gayathri', sans-serif;
}

#about {
  margin: 0;
  padding: 1rem;
}

.summary {
  width: 60%;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: .1rem;
  transition: color .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.stack-flex {
  display: flex;
  flex-wrap: wrap;
}

.stack {
  font-size: 10rem;
}

.fa-react {
  color: rgb(94, 160, 221);
}

.fa-node {
  color: rgb(8, 80, 8);
}

.fa-css3-alt {
  color: rgb(153, 64, 5);
}

.icons {
  display: flex;
  justify-content: space-around;
}

.social-icons {
  font-size: 2rem;
  color: rgba(255,255,255,.7);
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio {
  margin: 0;
  padding: 1rem;
}
.repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  border-radius: 1rem;
  padding: .5rem;
  z-index: 200;
  margin: .5rem
}

.repo-description {
  font-family: 'Gayathri', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}

.repo .links {
  text-align: center;
  position: relative;
  bottom: 0;
}

.repo .links i {
  margin: 1rem;
  font-size: 1.4rem;
  color: firebrick;
}

.cardlist {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.repo:hover {
  border: solid thin #999;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 2rem -.2rem #ccc;
}