*, body {
  transition: background-color .6s cubic-bezier(0.95, 0.05, 0.795, 0.035), color .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.header {
  background: url('./background.png');
  margin: 0;
  min-height: 50vh;
}

.title {
  font-family: 'Lobster', cursive;
}

.cover {
  height: 100%;
  background-color: black;
  opacity: .8;
}

.sidenav-toggle {
  position: fixed;
  left: 80%;
  z-index: 1000;
}

ul[data-state] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: 20%;
  margin: 0;
  padding: 1rem;
  text-transform: uppercase;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: .2rem;
  font-weight: bold;
}

@media screen
  and (max-width: 700px) and (min-width: 400px) {
    ul[data-state]{
      width: 40%;
    }
  }

@media screen
  and (max-width: 400px){
    ul[data-state]{
      width: 80%;
    }
  }

ul[data-state='false'] {
  transform: translateX(-100%);
  transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

ul[data-state='true'] {
  transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.text {
  font-family: 'Gayathri', sans-serif;
  z-index: 200;
}

#about {
  margin: 0;
  padding: 1rem;
}

.summary {
  width: 60%;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: .1rem;
  transition: color .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.page-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.stack-flex {
  display: flex;
  flex-wrap: wrap;
}

.stack {
  font-size: 5rem;
}

.fa-react {
  color: rgb(94, 160, 221);
}

.fa-node {
  color: rgb(8, 80, 8);
}

.fa-css3-alt {
  color: rgb(153, 64, 5);
}

.graphql {
  color: palevioletred;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.social-icons {
  font-size: 2rem;
  color: rgba(255,255,255,.7);
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio {
  margin: 0;
  padding: 1rem;
}

.cardlist {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 200;
}

.repo-description {
  font-family: 'Gayathri', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}

.repo .links {
  text-align: center;
  position: relative;
  bottom: 0;
}

.repo .links i {
  margin: 1rem;
  font-size: 1.4rem;
  color: firebrick;
}

.repo:hover {
  border: solid thin #999;
  border-radius: 1rem;
  transition: border 1s ease, box-shadow .6s ease;
}

